page-saldo {

  .card
  {
    margin-bottom:0px !important;
  }

  .card-background-page {
    height: 80px;
    margin-top: 5px !important;
  }

  .card-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .card-subtitle {
    font-size: 1.0em;
  }
}
